.coccola1 {background-color: pink;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;}
.coccola2 {display: flex;
    align-items: flex-end;
    justify-content: center;
    height: calc(60dvh - 20px);
    background-color: skyblue;}
.coccola3 {display: flex;
    align-items: center;
    justify-content: flex-end;
    height: calc(40dvh - 20px);
    background-color: greenyellow;}
button {font-size: 20dvh;
width: 30dvh;
height: 30dvh;
background-color: white;
display: flex;
align-items: center;
justify-content: center;}
img {width: 20dvh;
height: 20dvh;}


